@font-face {
   font-family: 'Lato';
   font-style: normal;
   font-display: swap;
   font-weight: 100;
   src: url('file:///D:/ASUS%20X555LJ%20Drivers/JunTechPC%202020/fonts/Lato/100.ttf') format('truetype');
}
@font-face {
   font-family: 'Lato';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('file:///D:/ASUS%20X555LJ%20Drivers/JunTechPC%202020/fonts/Lato/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Lato';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///D:/ASUS%20X555LJ%20Drivers/JunTechPC%202020/fonts/Lato/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Lato';
   font-style: normal;
   font-display: swap;
   font-weight: 900;
   src: url('file:///D:/ASUS%20X555LJ%20Drivers/JunTechPC%202020/fonts/Lato/900.ttf') format('truetype');
}
@font-face {
   font-family: 'Lato';
   font-style: italic;
   font-display: swap;
   font-weight: 100;
   src: url('file:///D:/ASUS%20X555LJ%20Drivers/JunTechPC%202020/fonts/Lato/100italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Lato';
   font-style: italic;
   font-display: swap;
   font-weight: 300;
   src: url('file:///D:/ASUS%20X555LJ%20Drivers/JunTechPC%202020/fonts/Lato/300italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Lato';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///D:/ASUS%20X555LJ%20Drivers/JunTechPC%202020/fonts/Lato/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Lato';
   font-style: italic;
   font-display: swap;
   font-weight: 400;
   src: url('file:///D:/ASUS%20X555LJ%20Drivers/JunTechPC%202020/fonts/Lato/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Lato';
   font-style: italic;
   font-display: swap;
   font-weight: 700;
   src: url('file:///D:/ASUS%20X555LJ%20Drivers/JunTechPC%202020/fonts/Lato/700italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Lato';
   font-style: italic;
   font-display: swap;
   font-weight: 900;
   src: url('file:///D:/ASUS%20X555LJ%20Drivers/JunTechPC%202020/fonts/Lato/900italic.ttf') format('truetype');
}
